<div id="wrapper">

    <!-- Sidebar -->
    <%- partial('../../../partials/admin-sidebar.ejs') %>
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin/team">Team</a>
                    </li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
                <form method="PUT" action="/admin/team/update/<%= edited_team[0].id %>">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" value="<%= edited_team[0].fullName%>" strdate="" placeholder="Enter Name"
                            required="true">
                    </div>
                    <input type="submit" value="Save" class="btn btn-info">
                </form>
            </div>
        </div>
</div>