<div id="wrapper">
  <%- partial('../../../partials/admin-sidebar.ejs') %>
    <div id="content-wrapper">

      <div class="container">
        <h1>New a project info</h1>
        <hr/>
        <form method="POST" action="/admin/project/create">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" value="" placeholder="Enter title" required="true">
          </div>

          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" name="startDate" class="form-control" value="" strdate="" id="startDate" placeholder="Enter Start Date"
              required="true">
          </div>

          <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" name="endDate" class="form-control" value="" strdate="" id="endDate" placeholder="Enter End Date" required="true">
          </div>

          <input type="submit" value="Create" class="btn btn-info">
        </form>
      </div>
    </div>
</div>