<div id="wrapper">

    <!-- Sidebar -->
    <%- partial('../../partials/admin-sidebar.ejs') %>
        <div id="content-wrapper">
            <div class="container-fluid">
                sssssssssssssss
            </div>
        </div>
</div>