
  <div class="container">
    <h1>Update work info</h1>
    <hr/>
    <form method="GET" action="/work/update/<%= work.id %>">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" value="<%= work.title %>">
        </div>
        <div class="form-group">
            <label for="workLoad">Workload</label>
            <input type="number" name="workLoad" class="form-control" value="<%= work.workLoad %>">
        </div>
        <div class="form-group">
            <label for="completeDate">Complete Date</label>
            <input type="date" name="completeDate" class="form-control" value="<%= work.completeDate %>">
        </div>
        <input type="submit" value="Update" class="btn btn-primary">
    </form>
  </div>

