<div class="container">
    <h1>Update work info</h1>
    <hr/>
    <form method="PUT" action="/work/update/<%= work.id %>">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" value="<%= work.title %>">
        </div>
        <div class="form-group">
            <label for="workLoad">Workload</label>
            <input type="number" step="any" min="1" max="12" name="workLoad" class="form-control" value="<%= work.workLoad %>">
        </div>
        <div class="form-group">
            <label for="completeDate">Complete Date</label>
            <input type="date" name="completeDate" class="form-control" value="" strdate="<%= work.completeDate.toLocaleDateString() %>" id="completeDate">
        </div>
        <input type="submit" value="Update" class="btn btn-primary">
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

    var str = $('#completeDate').attr("strdate").split("-");
    var strOut = str[0] + "-";

    if (str[1].length == 1) {
        strOut = strOut + "0" + str[1];
    }
    else {
        strOut = strOut + str[1];
    }

    strOut = strOut + "-";
    if (str[2].length == 1) {
        strOut = strOut + "0" + str[2];
    }
    else {
        strOut = strOut + str[2];
    }
    $('#completeDate').val(strOut);
</script>