<div class="container">
    <h1>New a plan info</h1>
    <hr/>
    <form method="POST" action="/absen/create">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" value="" placeholder="Enter Title"  required = "true">
        </div>
        <div class="form-group">
            <label for="numberOfDaysOff">Number Of Days Off</label>
            <input type="number" min="1" value="1" step="1" name="numberOfDaysOff" class="form-control" value="" placeholder="Enter Number Of Days Off"  required = "true">
        </div>
        <div class="form-group">
            <label for="Reason">Reason</label>
            <input type="text" name="reason" class="form-control" value="" placeholder="Enter Reason"  required = "true">
        </div>
        <input type="submit" value="Submit" class="btn btn-info">
    </form>
</div>

<!-- <script>
    var d = new Date();
    var str = [d.getFullYear(),d.getMonth(),d.getDay()];

    // var strOut = str[0] + "-";

    // if (str[1].length == 1) {
    //     strOut = strOut + "0" + str[1];
    // }
    // else {
    //     strOut = strOut + str[1];
    // }

    // strOut = strOut + "-";
    // if (str[2].length == 1) {
    //     strOut = strOut + "0" + str[2];
    // }
    // else {
    //     strOut = strOut + str[2];
    // }
    console.log(d.toDateString());
    console.log(str);
    //$('#completeDate').val(strOut);
</script> -->